---
import Header from '../components/Header.astro';
import Section1 from '../components/Section1.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Nexus Restaurant | Your Best Food">
	<Header />
	<main>
		<Section1 />
	</main>
</Layout>
