
<footer3 class="w-full h-full bg-[#252121]">
  <div class="container mx-auto w-[90%] md:flex items-center lg:flex lg:items-start lg:justify-center">
    <div class="links flex flex-col pt-10 pb-10 items-center text-white sm:text-center md:w-[30%] lg:w-[30%]">
      <a href="#our-menus" class="w-full text-2xl md:pb-3 md:md:text-3xl md:text-left lg:text-4xl lg:pt-3">Our Menus</a>
      <a href="#catering-and-events" class="w-full text-2xl md:pb-3 md:md:text-3xl md:text-left lg:text-4xl">Catering & Events</a>
      <a href="#our-location" class="w-full text-2xl md:pb-3 md:md:text-3xl md:text-left lg:text-4xl">Our Location</a>
      <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank" class="w-full text-2xl md:pb-3 md:md:text-3xl md:text-left lg:text-4xl">Contact</a>
      <div class="social-media flex justify-left pt-6 w-full sm:justify-center md:pr-12 lg:justify-start">
        <a href="https://twitter.com/" target="_blank"><img src="../../public/icons/icon-x.svg" class="w-[30px] mr-6" alt="icon-x"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="../../public/icons/icon-meta.svg" class="w-[30px] mr-6" alt="icon-meta"></a>
        <a href="https://www.tripadvisor.com/" target="_blank"><img src="../../public/icons/icon-tripadvisor.svg" class="w-[30px] mr-6" alt="icon-tripadvisor"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../../public/icons/icon-instagram.svg" class="w-[30px]" alt="icon-instagram"></a>
      </div>
    </div>
    <div class="sites flex flex-col items-center py-10 text-white sm:flex sm:flex-row sm:flex-wrap md:w-[70%]">
      <div class="subsection mb-8 w-full text-sm sm:p-4 sm:w-[50%] lg:flex lg:flex-col lg:items-center lg:justify-center">
        <h4 class="mb-6 py-1 text-center text-lg font-semibold bg-[#826A45] lg:w-[150px]">Hour</h4>
        <p>Monday-Wednesday: 11a-9p</p>
        <p class="py-2">Thursday-Saturday: 11a-10p</p>
        <p>Happy Hour: Everyday 2p-6p</p>
      </div>
      <div class="subsection mb-8 w-full text-sm sm:p-4 sm:w-[50%] lg:flex lg:flex-col lg:items-center lg:justify-center">
        <h4 class="mb-6 py-1 text-center text-lg font-semibold bg-[#826A45] lg:w-[150px]">Address</h4>
        <p>Via Serlas 546, 6700 St.</p>
        <p class="py-2">Moritz, </p>
        <p>Switzerland</p>
      </div>
      <div class="subsection mb-8 w-full text-sm sm:p-4 sm:w-[50%] lg:flex lg:flex-col lg:items-center lg:justify-center">
        <h4 class="mb-6 py-1 text-center text-lg font-semibold bg-[#826A45] lg:w-[150px]">Dining</h4>
        <p>Both walk-ins and reservations are accepted</p>
      </div>
      <div class="subsection flex flex-col mb-8 w-full text-sm sm:p-4 sm:w-[50%] lg:flex lg:flex-col lg:items-center lg:justify-center">
        <h4 class="mb-6 py-1 text-center text-lg font-semibold bg-[#826A45] lg:w-[150px]">Contact</h4>
        <a href="tel:3434544364">(123)456-67890</a>
        <a href="mailto:contact@nexusrestaurant.com" class="py-2">booking@grandrestaurant.com</a>
      </div>
    </div>
  </div>
</footer3>