
<section id="catering-and-events" class="w-full h-full">
  <div class="container w-full">
    <div class="w-screen h-full md:flex">
      <div class="top-section w-full h-[500px] bg-no-repeat bg-cover md:h-[auto] lg:bg-center lg:h-[700px]" style="background-image: url('../../public/static/images/avocado-toast-with-egg-and-pomegrate-seeds-on-blac.jpg');"></div>
      <article class="py-[75px] px-6 text-center bg-[#EBE9E6] md:max-w-[50%] md:text-left md:px-10 xl:px-20">
        <h3 class="pb-[20px] text-5xl lg:text-7xl">Events & Functions</h3>
        <p class="pb-[30px] px-4 md:px-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, fugit? Quaerat eligendi cumque dicta dolorum maiores! Dolores quis doloremque alias quo asperiores explicabo ratione, fugit minima quibusdam rerum cumque quod.</p>
        <p class="py-4 text-xl border-y border-black">Private Dining Room</p>
        <p class="py-4 text-xl">Functions Package</p>
        <p class="py-4 text-xl border-y border-black">Beverage Package</p>
      </article>
    </div>
    <div class="w-screen h-full md:flex md:flex-row-reverse">
      <div class="bottom-section w-full h-[500px] bg-no-repeat bg-cover md:h-[auto] lg:bg-center lg:h-[700px]" style="background-image: url('../../public/static/images/avocado-toast-with-egg-and-pomegrate-seeds-on-blac1.jpg');"></div>
      <article class="py-[75px] px-6 text-center bg-[#EBE9E6] md:max-w-[50%] md:text-left md:px-10 xl:px-20">
        <h3 class="pb-[20px] text-5xl lg:text-7xl">Daily Special Dishes</h3>
        <p class="pb-[30px] px-4 md:px-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, fugit? Quaerat eligendi cumque dicta dolorum maiores! Dolores quis doloremque alias quo asperiores explicabo ratione, fugit minima quibusdam rerum cumque quod.</p>
        <p class="pb-[30px] px-4 md:px-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, fugit? Quaerat eligendi cumque dicta dolorum maiores! Dolores quis doloremque alias quo asperiores explicabo ratione, fugit minima quibusdam rerum cumque quod.</p>
        <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank" class="flex justify-center mx-8 py-4 max-w-[250px] text-[#826A45] border border-[#826A45] transition-colors delay-150 hover:text-white hover:bg-[#826A45] md:mx-0">Make a Reservation</a>
      </article>
    </div>
  </div>
</section>