---
import imageSection1 from '../assets/images/cold-espresso-coffee-glass-714x1024.jpg';
import imageSection2 from '../assets/images/dinning-fish-dish-683x1024.jpg';
import imageSection3 from '../assets/images/desert-cake-683x1024.jpg';
import iconKnife from '../assets/images/knife-icon.png';
---

<section class="w-full h-full bg-white">
  <div class="container flex flex-col flex-wrap items-center justify-center pt-[50px] pb-[75px] mx-auto max-w-[90%]">
    <img src=`${iconKnife}` class="w-[50px] mt-[50px] mb-[30px]" alt="icon-knife">
    <p class="text-3xl text-center mb-[50px] max-w-[768px]">A place where food, design, and ambiance come together to create a memorable experience.</p>
    <div class="container-cards flex flex-wrap items-center md:justify-left">
      <div class="mb-4 w-full bg-cover md:max-w-[300px] md:mr-6" style=`background-image: url(${imageSection1});`>
        <article class="flex flex-col items-center justify-center p-8 h-[550px] w-full bg-gradient-to-t from-[#0f0f0fbf]">
          <h3 class="mb-2 w-full text-2xl text-center text-white">Beverage Menu</h3>
          <p class="text-sm text-center text-white">Our pizza is lovingly handcrafted, stone-baked, and delicious.</p>
        </article>
      </div>
      <div class="mb-4 w-full bg-cover md:max-w-[300px] md:mr-6" style=`background-image: url(${imageSection2});`>
        <article class="flex flex-col items-center justify-center p-8 h-[550px] w-full bg-gradient-to-t from-[#0f0f0fbf]">
          <h3 class="mb-2 w-full text-2xl text-center text-white">Dining Menu</h3>
          <p class="text-sm text-center text-white">Taste the melting pot of India’s diverse flavors with every dish.</p>
        </article>
      </div>
      <div class="mb-4 w-full bg-cover md:max-w-[300px] md:mr-6" style=`background-image: url(${imageSection3});`>
        <article class="flex flex-col items-center justify-center p-8 h-[550px] w-full bg-gradient-to-t from-[#0f0f0fbf]">
          <h3 class="mb-2 w-full text-2xl text-center text-white">Dessert Menu</h3>
          <p class="text-sm text-center text-white">A meal designed to be explored and experienced in the moment.</p>
        </article>
      </div>
    </div>
  </div>
</section>