
<section id="our-location" class="w-screen h-full bg-white">
  <div class="container w-screen md:h-[700px] lg:h-[900px]">
    <div class="w-screen h-[300px] bg-cover lg:h-[500px]" style="background-image: url('../../public/static/images/business-lunch-man-and-woman-sitting-at-table-at.jpg');"></div>
    <article class="py-16 px-4 w-screen text-center text-[#826A45] bg-cover md:flex md:flex-col md:justify-center" style="background-image: url('../../public/static/images/footer-pattern.png');">
      <h2 class="mx-auto pb-4 max-w-[200px] text-4xl font-semibold">Visit Our Restaurant</h2>
      <div class="py-4">
        <h4 class="font-semibold">Lunch</h4>
        <p>Saturday to Sunday</p>
        <p>Reservations from 12pm to 1:30pm</p>
      </div>
      <div class="py-4">
        <h4 class="font-semibold">Dinner</h4>
        <p>Thursday to Sunday</p>
        <p>Reservations from 6pm to 8:30pm</p>
      </div>
    </article>
  </div>
</section>