
<section id="our-menus" class="w-full h-full bg-cover bg-fixed" style="background-image: url('../../public/static/images/rod-long-kImU-9S9uh8-unsplash.jpg');">
  <div class="container flex flex-col items-center mx-auto py-20 w-full h-full max-w-[1024px] md:items-end">
    <h2 class="text-5xl text-white md:mr-10 md:text-7xl lg:text-8xl">Daily Spacials</h2>
    <section class="m-6 pt-12 pr-6 pl-6 pb-10 max-w-[600px] bg-[#00000075] backdrop-blur-md">
      <div class="articles-group">
        <article class="relative mb-8">
          <div class="md:flex md:justify-between">
            <h3 class="text-xl text-white font-semibold">BBQ Ribs</h3>
            <p class="text-white font-medium mb-2">$26.00</p>
          </div>
          <p class="text-[#ffffffa1]">1/2 rack of house smoked ribs brushed with zesty BBQ sauce. Served with kaleslaw, french fries, & corn bread muffin served with a side of honey cinnamon butter</p>
        </article>
        <article class="mb-8">
          <div class="md:flex md:justify-between">
            <h3 class="text-xl text-white font-semibold">Grilled Salmon</h3>
            <p class="text-white font-medium mb-2">$28.00</p>
          </div>
          <p class="text-[#ffffffa1]">Eco-friendlygrilledNorwegiansalmon, wildrice, roasted butternut squash & brussel sprouts. Topped with garlic-rosemary lemon butter</p>
        </article>
        <article class="mb-8">
          <div class="md:flex md:justify-between">
            <h3 class="text-xl text-white font-semibold">Cavatappi Pasta</h3>
            <p class="text-white font-medium mb-2">$18.00</p>
          </div>
          <p class="text-[#ffffffa1]">Butternut squash, brussels sprouts, parmesan, & white wine cream sauce</p>
        </article>
        <article class="">
          <div class="md:flex md:justify-between">
            <h3 class="text-xl text-white font-semibold">Summertime Pesto Pasta</h3>
            <p class="text-white font-medium mb-2">$21.00</p>
          </div>
          <p class="text-[#ffffffa1]">Fettuccine, nut-free pesto, shaved parm, cherry tomatoes + summer vegetables</p>
        </article>
      </div>
    </section>
  </div>
</section>